{% load static %}
{% load traveler_tags %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'traveler/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'traveler/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Інші метатеги і стилі -->
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QPGXQ21GF1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QPGXQ21GF1');
</script>

</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>
{% block mainmenu %}
    <div class="header">
        <ul id="mainmenu" class="mainmenu">
            <li class="logo">
                <a href="{% url 'home' %}">
				<img src="{% static 'traveler/images/house.png' %}"
				alt="Логотип" style="width: 60px; height: 41;">

                </a>
            </li>
			<div class="hotpies">
			    <a href="{% url 'home' %}">
				<img src="{% static 'traveler/images/logo.svg' %}"
				alt="Логотип" style="width: 80px; height: 51;">

                </a>
                <p>hotpies</p>
            </div>

            <!-- {% for m in menu %}
                <li><a href="{% url m.url_name %}">{{ m.title }}</a></li>
            {% endfor %}

            {% if request.user.is_authenticated %}
                <li class="last"> {{ user.username }} | <a href="{% url 'logout' %}">Go out</a></li>
            {% else %}
                <li class="last"><a href="{% url 'register' %}">Registration</a> | <a href="{% url 'login' %}">To come in</a></li>
            {% endif %}-->
        </ul>
        <div class="clear"></div>
    </div>
{% endblock %}

<table class="table-content" border="0" cellpadding="0" cellspacing="0">
<tr>
<!--Sidebar слева -->

    <td valign="top" class="left-chapters">

    <ul id="leftchapters">

{% if cat_selected == 0 %}
        <li class="selected">Continents</li>
{% else %}
        <li><a href="{% url 'home' %}">Continents</a></li>
{% endif %}

{% for c in cats %}
{% if c.dir_travel__count > 0 %}
        {% if c.pk == cat_selected %}
            <li class="selected">{{c.name}}</li>
        {% else %}
            <li> <a href="{{ c.get_absolute_url }}">{{c.name}}</a></li>
        {% endif %}
{% endif %}
{% endfor %}


<li class="share">
<!-- Включаємо рекламний блок -->
{% include 'traveler/ad_block_side.html' %}

</li>
    </ul>
    </td>
<!--Конец Sidebar -->
<td valign="top" class="content">
    <!-- Хлебные крошки -->
    {% block breadcrumbs %}
    {% endblock %}

<!-- Блок контента -->
    <div class="content-text">
{% block content %}
{% endblock %}
{% if page_obj.has_other_pages %}
<nav class="list-pages">
    <ul>

        {% if page_obj.has_previous %}
        <li class="page-num">
            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        </li>
        {% endif %}

        {% for p in paginator.page_range %}
        {% if page_obj.number == p %}
        <li class="page-num page-num-selected">{{ p }}</li>
        {% elif p >= page_obj.number|add:-2 and page_obj.number|add:2 %}
        <li class="page-num">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-num">
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
        </li>
        {% endif %}

</ul>

</nav>
{% endif %}

<!-- Конец блока контента -->
</td></tr></table>
</td></tr>
<!-- Footer -->
<tr><td valign="top">
    <!-- Ваш footer тут -->
<footer id="footer">
    <a href="https://www.instagram.com/hotpies_ua/" target="_blank">
        <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.facebook.com" target="_blank">
        <i class="fab fa-facebook"></i>
    </a>
	<a href="https://x.com/HotPiesClick" target="_blank" style="font-weight: bold;">X</a>
    <a href="https://www.pinterest.de/avotiyaaa" target="_blank">
        <i class="fab fa-pinterest"></i>
    </a>
</footer>

</td></tr></table>
<!-- Конец Footer -->

<script>
    var modal = document.getElementById("myModal");
    var img = document.getElementById("myImg");
    var modalImg = document.getElementById("img01");
    var span = document.getElementsByClassName("close")[0];

    var scale = 1;

    img.onclick = function() {
        modal.style.display = "block";
        modalImg.src = this.src;
        scale = 1; // Сброс масштаба при открытии
        modalImg.style.transform = "scale(1)";
    }

    span.onclick = function() {
        modal.style.display = "none";
    }

    modalImg.onwheel = function(event) {
        event.preventDefault(); // Предотвращаем прокрутку страницы
        if (event.deltaY < 0) {
            scale += 0.1; // Увеличение
        } else {
            scale = Math.max(1, scale - 0.1); // Уменьшение, минимальный масштаб - 1
        }
        modalImg.style.transform = "scale(" + scale + ")";
    }
</script>



</body>
</html>





